body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(255, 240, 107);
}

.header{
    width: 100%;
    height: 150px;
    background-color: rgb(255, 240, 107);
    background-image: url("./image/toyheader.png");
    background-size: 220px;
    background-repeat: repeat-x;
    border-bottom: 2px solid rgb(126, 114, 6);
}

.main{
    width: 100%;
}

.title{
    text-align: center;
    color: #845104;
    /* text-shadow: 2px 0px rgb(122, 122, 0); */
}
h2{
    font-size: 30px;
}

h3{
    font-size: 25px;
}

.left-control{
    padding: 30px;
}

.left{
    background-color: rgb(255, 247, 171);
    width: 85%;
    height: 385px;
    display: inline-block;
    float: left;
    border-bottom: 1px solid rgb(126, 114, 6);

}

.right-control{
    padding: 30px;
}

.right{
    background-color: rgb(255, 240, 107);
    height: 355px;
    width: 15%;
    display: inline-block;
    float: right;
    padding-top: 30px;
    border-bottom: 1px solid rgb(126, 114, 6);
    
}

.buttom{
    background-color: rgb(255, 240, 107);
    width: 100%;
    height: 420px;
}

.footer{
    text-align: center;
    padding-top: 390px;
    color: #845104;
}

.nav{
    text-decoration: none;
    color: #845104;
    background-color:rgb(249, 230, 64);
    padding: 15px 30px;
    border-radius: 5px;
    border: 1px solid #b36b00;
}

.nav:hover{
    background-color:rgb(255, 240, 107);
}

.nav:visited{
    background-color: #845104;
    color: white;
}


.nav-main{
    margin-bottom: 50px;
    margin-left: 40px;
}
